body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Barra superior */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 2px solid #000;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.top-buttons .iniciar {
    background-color: #eee;
}

.top-buttons .registrar {
    background-color: gray;
    color: white;
}

/* Contenedor principal */
main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.imagen-itagui {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Texto de bienvenida */
.texto {
    text-align: center;
    flex: 1;
}

.inter{
  font-family: "inter", sans-serif;
    font-size: 64px;
    font-weight: normal;
}

.italiana{
    font-family: "italiana", sans-serif;
    font-size: 64px;
    font-weight: 300;
}