body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #f9eee0 !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Barra superior */
.navbar {
    border-color: rgba(240, 216, 111, 0.6); /* tono cálido naranja */
    box-shadow: 0 0 12px rgba(160, 149, 60, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 30px;
    color: white;
}

.top-buttons .iniciar {
    background-color: #c7d498 !important;
}

.top-buttons .registrar {
    background-color: #c7d498 !important;
    color: #c7d498 !important;
}

/* Secciones izquierda y derecha */
.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}

/* Contenedor principal */
main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.imagen-itagui {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Texto de bienvenida */
.texto {
    text-align: center;
    flex: 1;
}

.inter{
  font-family: "inter", sans-serif;
    font-size: 64px;
    font-weight: normal;
}

.italiana{
    font-family: "italiana", sans-serif;
    font-size: 64px;
    font-weight: 300;
}
.btn {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
}
.green {
    background-color: #c7d498 !important;
}
.grey {
    background-color: #bad1b0 !important;
}